<div class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 z-50">
  <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-lg relative">
    <button class="absolute top-2 right-2 text-gray-600 hover:text-black" {{on "click" this.closeModal}}>✖</button>
    {{yield}}
  </div>
</div>