<div class="flex flex-wrap justify-evenly py-10">
  {{#each this.sortedNotes as |note|}}
    <div {{on "click" (fn this.selectNote note)}} class="p-2 grow min-w-64  ">
      <div
        class="h-full bg-gray-100 bg-opacity-75 px-6 pt-10 pb-10 rounded-lg text-center hover:bg-primary-200 "
      >
        <h3 class="font-bold">{{note.title}}</h3>

        <p>{{note.content}}</p>
      </div>
    </div>
  {{/each}}
</div>