@import "tailwindcss";

@theme {
    --color-primary-100: #e0e2db;
    --color-primary-200: #d2d4c8;
    --color-primary-300: #b8bdb5;
    --color-accent-400: #889696;
    --color-accent-500: #5f7470;
  }

